#resultsList {
   display:none;
   margin-left: 20%;
}

.resultImg {
    max-width:65%;
}

#layoutForm {
    background-color: rgba(176, 178, 179, 0.71);
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-right: gray solid 3px;
    border-bottom: gray solid 4px;
}

#layoutFomr input{

    padding-bottom:100%;
}

#resList-name-title{
    text-align: center;
    display: none;
}
