#resultsList {
   display:none;
   margin-left: auto;
   width: 60%;
   margin-right: auto;
}

.resultImg {
    max-width:65%;
}

#layoutForm {
    background-color: rgba(176, 178, 179, 0.71);
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-right: gray solid 3px;
    border-bottom: gray solid 4px;
}

#layoutFomr input{

    padding-bottom:100%;
}

#resList-name-title{
    text-align: center;
    display: none;
    background-color: rgba(198,239,152,0.71);
    padding-top: 0.75%;
    padding-bottom: 0.75%;
}

#faves-btn{
    color:rgba(198,239,152,60);
}