body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/background/wood-bround.png );
  background-size:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nameInput{
  margin: -8px 14px;
  width:40em;
}

.roomNameInput{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

#roomName > div > div {
  margin-left:10px;
}

#furnitureChoices {
  display:flex;
  flex-direction:column;
  align-items: center;
}

.layoutForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#bottomRow{
  display: flex;
}

#bttnDiv{
  flex-grow: 2;
}

#bttnDiv > button {
  height: 80%;
  width:160%;
}

#result-list{
  height:55em;
  overflow: auto;
  margin-top: 2em;
}