.navbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

#profile--img{
    max-width:100px;
}

#composition-button{
    width:100px;
}



#root > article > section:nth-child(1) > div > div > div{
    padding-left:3em;
}

#root > article > section:nth-child(1){
    background-color: rgba(198,239,152,60);
}

#composition-button{
    padding-top:1.5em;
}