.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

#profile--img{
    max-width:100px;
}

#composition-button{
    width:100px;
}