.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: gainsboro;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

#profile--img {
    max-width:15%
}